table
{
  margin: 10px;
  border-collapse:  collapse;
  width: 100%;

}
#commitments th
{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color: royalblue;
    color:#ffffff;
}
#commitments tr.alt td
{
    color:#000000;
    background-color: aliceblue;
}
table th
{
  border: 2px solid white;
  font-weight: bold;
  background-color: royalblue;
}
 table td#meeting
{
    padding: 4px;
    text-align: center;
    border: 1px solid white;
    background-color: aliceblue;
    border-bottom: 2px solid black;
}
table td
{
  padding: 4px;
  text-align: left;
  border: 1px solid white;
  background-color: aliceblue;
  border-bottom: 2px solid black;
}

